data/AllSides_Rankings/*
data/268k_American_News_Articles/crawl_json
notebooks/*
.venv
**/__pycache__/
model/
*.h5
*.tsv
*.ipynb
*.json
.python-version

political_leaning_api.egg-info
.DS_Store
**/.DS_Store
.venv
modell_klassen_notebooks
__pycache__
checkpoint-51422
best_model